<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Plant Seeds Cook - Exploring Backend and Data Engineering">
    <title>Plant Seeds Cook</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <div class="branding">
                <h1>Plant Seeds Cook</h1>
                <p>Creating backend systems for useful tools. <span style="color: green;">Always be planting.</span></p>
            </div>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About Me</a></li>
                    <li><a href="projects.html">Projects</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section id="about" class="about-me">
            <div class="container">
                <h2>About Gil Gaitan</h2>
                <p style="margin-bottom: 20px;">From owning and operating a food truck business for nearly a decade to transitioning into the tech world, my journey has been defined by a constant drive for problem-solving, efficiency, and growth. After years of managing business systems in a high-pressure environment, I decided to shift focus and pursue my long-held passion for technology and computational challenges. This decision led me to a Computer Science degree and the fascinating fields of backend development and data engineering.</p>

                <p style="margin-bottom: 20px;">As I continue to build my skills, I am laser-focused on positioning myself for long-term success in the tech industry. My primary goal is to establish a strong foundation in backend systems, low-level programming, and the technical intricacies that power modern innovations. By consistently working hard, learning quickly, and contributing to meaningful projects, I am positioning myself to thrive in a challenging yet rewarding career. I am excited about finding my role in a forward-thinking company where I can grow, develop my leadership skills, and help create solutions that have a lasting impact.</p>
                
            </div>
        </section>
    </main>

    <footer id="contact">
        <div class="container">
            <div class="social-icons">
                <a href="https://github.com/Gil-Gaitan" target="_blank">GitHub</a>
                <a href="{{ url_for('static', filename='resume.pdf') }}" target="_blank">Resume (PDF)</a>
                <a href="https://www.linkedin.com/in/gil-gaitan-86094894/" target="_blank">LinkedIn</a>
            </div>
            <p><span style="color: green;">Always be planting.</span></p>
            <p>Email me: <a href="mailto:Gil@plantseedscook.com">Gil@plantseedscook.com</a></p>
        </div>
    </footer>
</body>