{% extends "base.html" %}

{% block content %}
<section id="about" class="about-me">
    <div class="container">
        <h2>About Plant Seeds Cook</h2>
        <p><strong>Plant Seeds Cook</strong> is a platform built to cultivate ideas and bring them to life
            through data-driven solutions. It serves as a creative lab, reflecting a journey of discovering tech
            and backend development. This site showcases work while fostering new ideas, aiming to be a
            long-term project of innovation, experimentation, collaboration and growth.</p>

    </div>
</section>

<section id="dynamic-info" class="dynamic-info">
    <div class="container">
        <h2>Currently Cooking</h2>
        <p>Today is: <span id="current-date"></span></p>
        <p>The site is getting a light revamp. Stay tuned for further improvements!</p>
    </div>
</section>
{% endblock %}

{% block extra_scripts %}
<script>
    document.getElementById('current-date').innerHTML = new Date().toLocaleDateString();
</script>
{% endblock %}